

{% extends 's_admin/common.html' %}

{% block common %}

    {% load static %}

    {% if request.session.status %}
    <table align="center" >
    <tr>
        <th>
            {% include 's_admin/menu.html' %}
        </th>
    </tr>
    </table>


        <table align="center" >
            <tr>
            <th colspan="8" style="text-align: center;font-family: 'Agency FB';font-size: 30px;color: black">
                Approved Restaurant Information
            </th>
        </tr>
        <table align="center" border="2">

        <tr bgcolor="#ff4500">
            <th width="50">No</th>
            <th width="100">Name</th>
            <th width="100">Contact</th>
            <th width="200">Email</th>
            <th width="80">Area</th>
            <th width="100">Type</th>

        </tr>

        {% for x in data %}
            <tr>
            <td>{{ x.restro_id }}</td>
            <td>{{ x.restro_name }}</td>
            <td>{{ x.restro_contact }}</td>
            <td>{{ x.restro_email }}</td>
            <td>
                {{ x.restro_area }}, <br>
                {{ x.restro_area.city.city_name }},<br>
                {{ x.restro_area.city.state.state_name }}.
            </td>
            <td>{{ x.restro_type }}</td>

        </tr>
        {% endfor %}
        </table>

        </table>



        {% else %}

        <h3 style="text-align: center;font-family: 'Agency FB';font-size: 25px;color: red">
            Please Do Login
        </h3>

    {% endif %}


{% endblock %}